[Unit]
Description=ReachLED service

[Service]
Type=dbus
BusName=led.service
ExecStart=/home/reach/reach-led/app/led_daemon.py

[Install]
WantedBy=multi-user.target
